.DS_Store
build/
_docshots/
_minted-*/
eolang.tex
eolang-phi.pl
eolang-sodg.pl
eolang.ret
iexec.ret
eolang.stdout
eolang.stderr
*.eolang
*.zip
*.toc
eolang.pdf
*.bbl
*.bcf
*.blg
*.glo
*.sty
*.fdb_latexmk
*.fls
*.aux
*.pug
*.log
*.run.xml
*.aux
*.pyg
*.out
*.dvi
*.idx
*.ilg
*.ind
*.exc
*.synctex.gz
*.tmp
