.DS_Store
build/
_minted-*/
phi.tex
*.phi
*.zip
*.toc
phi.pdf
*.bbl
*.bcf
*.blg
*.glo
*.sty
*.fdb_latexmk
*.fls
*.aux
*.pug
*.log
*.run.xml
*.aux
*.pyg
*.out
*.dvi
*.idx
*.ilg
*.ind
*.exc
*.synctex.gz
*.tmp