_docshots/
_minted-*/
.DS_Store
.idea/
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.eolang
*.exc
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.pug
*.pyg
*.run.xml
*.sty
*.synctex.gz
*.tmp
*.toc
*.zip
build/
eolang-phi.pl
eolang-sodg.pl
eolang.pdf
eolang.ret
eolang.stderr
eolang.stdout
eolang.tex
iexec.ret
node_modules/
