name: l3build
on:
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  l3build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: teatimeguest/setup-texlive-action@v2.4.1
        with:
          update-all-packages: true
          package-file: DEPENDS.txt
          packages: scheme-basic xetex ffcode libertine microtype hypdoc l3build href-ul newtx biblatex biber docshots pdfcrop
      - run: l3build ctan --show-log-on-error --halt-on-error
