# SPDX-FileCopyrightText: Copyright (c) 2021-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: tests
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: zauguin/install-texlive@v4.0.0
        with:
          package_file: DEPENDS.txt
          texlive_version: 2025
      - run: |
          scripts=$(find ./tests -name '*.pl')
          while IFS= read -r s; do
            "${s}"
          done <<< "${scripts}"
