# (The MIT License)
#
# SPDX-FileCopyrightText: Copyright (c) 2021-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: tests
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: teatimeguest/setup-texlive-action@v3.3.4
        with:
          update-all-packages: true
          package-file: DEPENDS.txt
      - run: |
          scripts=$(find ./tests -name '*.pl')
          while IFS= read -r s; do
            "${s}"
          done <<< "${scripts}"
